@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto/Roboto-Bold.eot") format("embedded-opentype"),
            url("../fonts/Roboto/Roboto-Bold.woff") format("woff"),
            url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Myriad-Regular";
    src: url("../fonts/Myriad/MYRIADPRO-REGULAR.eot") format("embedded-opentype"),
            url("../fonts/Myriad/MYRIADPRO-REGULAR.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamBold";
    src: url("../fonts/Gotham/GothamBold.eot") format("embedded-opentype"),
            url("../fonts/Gotham/GothamBold.ttf") format("truetype"),
            url("../fonts/Gotham/GothamBold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamBook";
    src: url("../fonts/Gotham/GothamBook.eot") format("embedded-opentype"),
            url("../fonts/Gotham/GothamBook.ttf") format("truetype"),
            url("../fonts/Gotham/GothamBook.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GothamLight";
    src: url("../fonts/Gotham/GothamLight.eot") format("embedded-opentype"),
            url("../fonts/Gotham/GothamLight.ttf") format("truetype"),
            url("../fonts/Gotham/GothamLight.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}